.review {
    padding: 80px 100px;
    background-color: #1B1E70;
}

.review .top-review {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.review .top-review h4 {
    border: 1px solid #5925DC;
    background-color: #F4F3FF;
    padding: 6px 16px;
    border-radius: 30px;
    display: inline-block;
    margin-bottom: 16px;
    font-size: 12px;
    color: #5925DC;
    text-transform: uppercase;
    font-weight: 500;
}

.review .top-review .left-review {
    width: 40%;
    text-align: left;
}

.review .top-review h5 {
    color: #fff;
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: 600;
}

.review .top-review .valuation {
    display: flex;
    justify-content: flex-start;
    gap: 50px;
}

.review .top-review .valuation .total h6,
.review .top-review .valuation .rating h6 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
}

.review .top-review .valuation .amout,
.review .top-review .amout-rate {
    display: flex;
    gap: 40px;
}

.review .top-review .valuation .amout p,
.review .top-review .amout-rate p {
    margin-top: 28px;
    font-size: 40px;
    color: #fff;
    font-weight: 600;
}

.review .top-review .valuation .amout span {
    font-size: 20px;
    color: #fff;
    background-color: #2E90FA;
    padding: 2px 24px;
    border-radius: 30px;
    display: inline-block;
    height: 30px;
}

.review .top-review .amout-rate img {
    width: 100px;
    display: block;
}

.review .top-review .right-review {
    width: 400px;
}

.review .top-review .right-review img {
    display: block;
    width: 100%;
}

.bottom-review {
    padding: 80px 50px 50px 50px;
}

.bottom-review .item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #4A1FB8;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.bottom-review .item .info {
    width: 30%;
}

.bottom-review .item .info .info-details {
    display: flex;
}

.bottom-review .item .info .info-details .in-img {
    width: 100px;
    margin-right: 18px;
}

.bottom-review .item .info .info-details img {
    width: 100%;
    display: block;
    border-radius: 8px;
}

.bottom-review .item .info .info-details h4 {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

.bottom-review .item .info .info-details h5 {
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 10px;
}

.bottom-review .item .info .info-details span {
    font-size: 14px;
    color: #fff;
    display: block;
    margin-bottom: 10px;
}

.bottom-review .item .info .info-details span,
.bottom-review .item .info .info-details small {
    font-size: 12px;
    color: #fff;
    display: block;
}

.bottom-review .item .details {
    width: 40%;
    text-align: left;
}

.bottom-review .item .details h4 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
}

.bottom-review .item .details p {
    font-size: 16px;
    color: #fff;
}

.bottom-review .item .like {
    width: 80px;
}

.bottom-review .item .like img {
    display: block;
    width: 100%;
}


@media (max-width: 1280px) {
    .review .top-review {
        justify-content: space-between;
    }
}

@media (max-width: 1100px) {
    .bottom-review .item .info {
        width: 40%;
    }

    .review .top-review .left-review {
        width: 55%;
    }
}

@media (max-width: 1000px) {
    .review .top-review {
        flex-direction: column;
    }

    .review .top-review .left-review {
        width: 100%;
        text-align: center;
        margin-bottom: 40px;
    }

    .review .top-review .valuation {
        justify-content: center;
    }

    .review .top-review .right-review {
        margin: 0 auto;
    }

    .bottom-review .item {
        flex-wrap: wrap;
    }

    .bottom-review .item .info {
        width: 100%;
        margin-bottom: 30px;
    }

    .bottom-review .item .details {
        width: 70%;
    }
}

@media (max-width: 800px) {
    .review {
        padding: 80px 40px;
    }
}

@media (max-width: 640px) {
    .review .top-review h5 {
        font-size: 36px;
    }

    .review .top-review .valuation .total h6,
    .review .top-review .valuation .rating h6 {
        font-size: 18px;
    }

    .review .top-review .right-review {
        width: 350px;
    }

    .bottom-review {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 480px) {
    .review .top-review .right-review {
        width: 270px;
    }

    .review .top-review h5 {
        font-size: 30px;
    }

    .review .top-review .valuation .total h6,
    .review .top-review .valuation .rating h6 {
        font-size: 16px;
    }

    .review .top-review .valuation .amout p,
    .review .top-review .amout-rate p {
        font-size: 26px;
    }

    .review .top-review .valuation {
        flex-direction: column;
        justify-content: center;
    }

    .review .top-review .valuation .amout,
    .review .top-review .amout-rate {
        justify-content: center;
    }
}